$logoTimeWorkBg: #31a5ab3b;

$menuMainBlockColor: #2e3a58;
$menuMainBlockColorH: #a23f97;
$menuMainBlockBg:linear-gradient(90deg, #d4e7fb21 77%, #1682fc42 77%);
$menuMainBlockBgH: linear-gradient(90deg, #ffffff calc(77% - 10px), #a6d0ff calc(77% - 10px));
$menuSelectedBg: linear-gradient(90deg, #ddebff 82%, #782345 82%);
$menuSelectedColor: #1682fc;

$iconBorder: #2faab0;

$footerBg: #142025;
$footerLinksColor: #4173b5;
$footerLinksColorH: #42c1c7;
$footerMainColor: #ebeced;
$footerTextNameBorderColor: #ffffff;
$footerDotColor: #4c9ae8;

$hrMenuColor: #fcfcfc00;
$hrFooterColor: $footerBg;

$bodyBg: #FFF;
$bodyColor: rgba(0,0,0,0.87);

$rootBg: #FEFEFE;

$searchBorderColorH: #2d9ba0;

//$mainDynamicContentBg: #001524;
//$mainDynamicContentBg: #042c48;
$mainDynamicContentBg: #06243a;
$inputSearchColor: saddlebrown;

$mainDynamicContentColor: white;
